In [6]:
# Test for filename exists
import os
assert os.path.isfile('data/OffenderSentence.csv')

In [8]:
import numpy as np
import pandas as pd


sentenceDS = pd.read_csv('data/OffenderSentence.csv', encoding='iso-8859-1')

sentenceDS.head()

,Id,DOCNum,OrderID,ChargeSeq,CRFNum,Con victDate,Court,StatuteCode,OffenceDescription,OffenceComment,...,Years,Months,Days,SentenceTerm,StartDate,EndDate,CountNum,OrderCode,ConsecutiveToCount,ChargeStatus
0,1199415,8359,1112030,1,2010-300,NaN,POTTAWATOMIE COUNTY COURT,21 1720,LARCENY - AUTO AIRCRAFT OR OTHER MOTOR V,LARCENY - AUTO AIRCRAFT OR OTHER MOTOR V,...,NaN,NaN,NaN,1 Y 6 M 1 D,2013-03-13 00:00:00,2014-09-13 00:00:00,NaN,CSDO-S,NaN,DISCHARGED
1,1199416,10337,1,1,1-0,1920-04-13 00:00:00,BRYAN COUNTY COURT,21 701.7,MURDER FIRST DEGREE,MURDER FIRST DEGREE,...,NaN,NaN,NaN,LIFE,1920-04-13 00:00:00,1962-12-04 00:00:00,1.0,NaN,NaN,PAROLED
2,1199417,10337,416321,2,20-15645,NaN,BRYAN COUNTY COURT,21 701.7,MURDER FIRST DEGREE,MURDER FIRST DEGREE,...,NaN,NaN,NaN,40 Y 1 D,1962-12-14 00:00:00,2002-12-14 00:00:00,NaN,PAROLE,NaN,DISCHARGED
3,1199418,20413,3,3,77-240,1977-04-19 00:00:00,TULSA COUNTY COURT,21 1731,LARCENY OF MERCH FROM RETAILER,LARCENY OF MERCH FROM RETAILER,...,3.0,0.0,0.0,3 Y,1977-04-19 00:00:00,1980-04-18 00:00:00,1.0,NaN,NaN,EXPIRED
4,1199419,22574,4,4,20-393,1964-03-03 00:00:00,TULSA COUNTY COURT,21 741,KIDNAPPING,KIDNAPPING,...,NaN,NaN,NaN,LIFE,1973-12-18 00:00:00,NaN,1.0,NaN,NaN,EXPIRED

In [9]:
myRange = [5, 15, 16]

column_names = list(sentenceDS.columns.values)

for idx in myRange:
    print(column_names[idx])

Con victDate
StartDate
EndDate

In [ ]:
# convert the dates from a string to a python DateTime type
from datetime import datetime

def pd_to_datetime(date_value):
    return pd.to_datetime(date_value) if not pd.isna(date_value) else  datetime(1970,1,1,0,0)

sentenceDS['Con victDate'] = sentenceDS['Con victDate'].apply(pd_to_datetime)
sentenceDS['StartDate'] = sentenceDS['StartDate'].apply(pd_to_datetime)
sentenceDS['EndDate'] = sentenceDS['EndDate'].apply(pd_to_datetime)

In [12]:
pd.pivot_table(sentenceDS, values=["DOCNum"], index=["SentenceTermCode"], aggfunc="count")

                  DOCNum
SentenceTermCode
12-Month Review       24
CSD Accerated         96
CSD Deferred        5840
CSD Revocation        59
CSD Suspended      21311
CSD-Disc. Sanc.       28
CSD-General Mod       27
CSDDIS                 4
CSDDIS-S               2
Cor. Compact         152
Death                276
Delayed             1091
Drug Court         13573
Incarceration     564318
Int Parole In       1272
Int. Parole         4592
Int. Prob. In       2106
Int. Probation      7767
Life                4905
Life w/o Parole     1248
Minimum            10587
P&PDEF             41979
P&PSUS            205804
PIS                 6370
Parole             34819
Pre-Release Sup    16115
Probation         328144

In [13]:
sentenceDS[sentenceDS.SentenceTermCode != ""].pivot_table(values=["DOCNum"], index=["SentenceTerm"], aggfunc="count")

                           DOCNum
SentenceTerm
-1 Y                            2
-1 Y 1 M 1 D                    1
-1 Y 1 M 12 D                   1
-1 Y 1 M 17 D                   1
-1 Y 1 M 27 D                   1
-1 Y 1 M 8 D                    1
-1 Y 10 M                      31
-1 Y 10 M 1 D                  15
-1 Y 10 M 10 D                 22
-1 Y 10 M 11 D                  8
-1 Y 10 M 12 D                 20
-1 Y 10 M 13 D                 11
-1 Y 10 M 14 D                 16
-1 Y 10 M 15 D                 31
-1 Y 10 M 16 D                 23
-1 Y 10 M 17 D                 24
-1 Y 10 M 18 D                 41
-1 Y 10 M 19 D                 24
-1 Y 10 M 2 D                  24
-1 Y 10 M 20 D                 45
-1 Y 10 M 21 D                 18
-1 Y 10 M 22 D                 41
-1 Y 10 M 23 D                 22
-1 Y 10 M 24 D                 28
-1 Y 10 M 25 D                 34
-1 Y 10 M 26 D                 29
-1 Y 10 M 27 D                 19
-1 Y 10 M 28 D                 24
-1 Y 10 M 29 D                 39
-1 Y 10 M 3 D                  19
...                           ...
999 D                          29
999 Y                          99
999 Y 12 M                     12
999 Y 12 M 365 D                1
999 Y 2 M 30 D                  1
999 Y 365 D                     2
999 Y 9 M 9 D                   1
999 Y 9 M 99 D                  1
999 Y 99 M                      2
999 Y 99 M 9 D                  1
999 Y 99 M 91 D                31
999 Y 99 M 92 D                 5
999 Y 99 M 93 D                 3
999 Y 99 M 99 D               323
999 Y 99 M 99 D LIFE           17
999 Y 99 M 99 D LIFEWOP         1
999 Y 99 M 999 D                7
999 Y 99 M 999 D LIFE           2
999 Y 99 M 9999 D LIFE          8
999 Y 99 M 9999 D LIFEWOP       1
999 Y 999 M 99 D               15
999 Y 999 M 99 D LIFE           1
999 Y 999 M 999 D              22
999 Y 999 M 999 D LIFE         17
999 Y 999 M 999 D LIFEWOP       6
999 Y LIFE                     12
999 Y LIFEWOP                   3
DEATH                         278
LIFE                         4817
LIFEWOP                      1237

[18096 rows x 1 columns]

In [87]:

def get_days (SentCode):
    if type(SentCode) == str:
        code_parts = SentCode.split(' ')
    else:
        return 0
    
    years = 0
    months = 0
    days = 0
    for idx,val in enumerate(code_parts):
        if val == 'Y':
            years = int(code_parts[idx-1])
        elif val == 'M':
            months = int(code_parts[idx-1])
        elif val == 'D':
            days = int(code_parts[idx-1])
    return (years*365) + (months *30) + days


sentenceDS['Days'] = sentenceDS['SentenceTerm'].apply(get_days)

In [88]:
sentenceDS['Days']

0            546
1              0
2          14601
3           1095
4              0
5            365
6          13140
7           4380
8           1825
9            730
10           730
11             0
12          7300
13             0
14          3650
15          1825
16          1825
17          1095
18             0
19          1825
20          1825
21          1825
22          1095
23           730
24             0
25             0
26           139
27          1825
28          3645
29          1460
           ...
1275480      730
1275481     1095
1275482     1825
1275483     1460
1275484     2190
1275485     1825
1275486     2556
1275487     2920
1275488     1825
1275489     3650
1275490     1825
1275491     3650
1275492     1825
1275493     3650
1275494      730
1275495      365
1275496     1460
1275497     1460
1275498     2190
1275499     1095
1275500     5475
1275501     1095
1275502     1825
1275503     1825
1275504     3650
1275505     5475
1275506     5475
1275507     5475
1275508     5475
1275509     3650
Name: Days, Length: 1275510, dtype: int64